<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registro de Aviones</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="../static/estilos.css" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">    
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="text-center mt-3">Registro de Circuitos</h1>
                    <section class="container">
                        <form class="row g-3 mt-5" method="POST" action="{{ url_for('user_bp.circuito') }}">
                            <div class="col-md-6">
                                <label for="input1erNombre" class="form-label">Nombre Piloto</label>
                                <input type="text" class="form-control" id="name" name="name" required> 
                            </div>
                            <div class="col-md-6">
                                <label for="inputCedula" class="form-label">Nombre del Avion</label>
                                <input type="text" class="form-control" id="avion" name="name_plane" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputFechaContratoInicio" class="form-label">Nombre del equipo</label>
                                <input type="text" class="form-control" name="equipo" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputFechaContratoInicio" class="form-label">Circuito Ganando</label>
                                <input type="number" class="form-control" name="name_race" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputFechaContratoInicio" class="form-label">Fecha de la victoria</label>
                                <input type="number" class="form-control" name="date_victory" required>
                            </div>
                            <div class="col-12 d-flex justify-content-center mt-5">
                                <button type="submit" class="btn btn-primary px-3 me-3">Guardar</button>
                                <a href="{{ url_for('user_bp.inicio') }}" class="btn btn-danger" >Cancelar</a>
                            </div>
                        </form>
                    </section>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>